body {
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.bodyStyle {
    float: left;
    width: 70%; /* Ширина слоя */
}

.wikitable {
    background-color: #eaecf0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}

.wikitable > * > tr > th, .wikitable > * > tr > td{
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
}

div {
    margin: 1em 0;
}

h1 {
    background-color: #9ec2e6;
    border-radius: 30px;
    padding-left: 30px;
    border: solid;
}


h2 {
    background-color: #c5d9ed;
    border-radius: 30px;
    padding-left: 30px;
}

