body {
    background-color: #F0F8FF;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

.wikitable {
    background-color: #eaecf0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}

.wikitable > * > tr > th, .wikitable > * > tr > td{
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
}

div {
    margin: 1em 0;
}

h1 {
    background-color: #9ec2e6;
    border-radius: 30px;
    padding-left: 30px;
    border: solid;
}


h2 {
    background-color: #c5d9ed;
    border-radius: 30px;
    padding-left: 30px;
}

#list li {
    list-style-type: none;
    margin: 10px 0;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    width: 110px;
    margin-right: 20px;
}

ul li img {
    width: 100px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul li span {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

